@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    background-color:white;
    color:black;
}
@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}
.swiper-pagination-bullet-active {
  background-color: #666666 !important;
}
.swiper-pagination-bullet{
  width:13px !important;
  height:13px !important;
}
.mySwiper .swiper-pagination{
  position:absolute !important;
  width:100px !important;
  bottom:40px !important;
  left:40px !important;
}

@media  (max-width: 640px) { 
  .mySwiper .swiper-pagination{
      left:100px !important;
  }
 }
 .mySwiper{
  width: max-content;
  position:relative  !important;
  display:flex  !important;
}
